<h2><%= t('devise.confirmations.new.resend_confirmation_instructions') %></h2>

<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                input_html: { autocomplete: t('activerecord.attributes.user.email') } %>
  </div>

  <%= render partial: 'shared/recaptcha', locals: { action: 'new_confirmation' } %>

  <div class="form-actions btn-container btn-width-400">
    <%= f.button :submit, t('devise.confirmations.new.resend_confirmation_instructions'), class: 'submit-btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
