<h2> <%= t('devise.registrations.new.sign_up') %> </h2>
<%= Time.now %>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false, turbolinks: false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: t('activerecord.attributes.user.email') }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} #{t('devise.passwords.edit.characters_minimum')}" if @minimum_password_length),
                input_html: { autocomplete: t('devise.passwords.edit.new_password')  } %>
    <%= f.input :password_confirmation,
                required: true,
                input_html: { autocomplete: t('devise.passwords.edit.new_password')  } %>
  </div>

  <%= render partial: 'shared/recaptcha', locals: { action: 'signup' } %>

  <div class="form-actions btn-container btn-width-400">
    <%= f.button :submit, t('devise.shared.links.sign_up'), class: 'submit-btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
