
<h2> <%= t('.user') %> <%= @user.email %></h2>
  
<%= simple_form_for @user, url: user_update_path(@user), html: { method: :put } do |f| %>
  <div class="form-inputs">
  <%= f.association :roles, as: :check_boxes %>
    
  <div class="form-actions">
    <%= f.button :submit, t('.update_roles') %>
  </div>
<% end %>

<%= link_to t('buttons.back'), :back %>
