<h1> <%= t('.users') %> </h1>
<table>
  <tr>
    <th>Id</th>
    <th>email</th>
    <th><%= t('.roles') %></th>
    <th><%= t('.available_roles') %></th>
    <th><%= t('.edit_roles') %></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <th><%= user.email %></th>
      <th><%= user.roles.pluck(:name) %></th>
      <th><%= link_to t('buttons.show'),  user_path(user) %></th>
      <th><%= link_to t('buttons.edit'),  user_edit_path(user) %></th>
      <th><%= button_to t('.block_account'), user_update_path(user), params: {set_user_role: :blocked}, form: { data: { confirm: t('.confirmation') } }, method: :put %></th>
    </tr>
  <% end %>
</table>
