<h1> <%= "#{t('.users')} (##{User.count})" %> </h1>

<div class="search-container", id="search-block">
  <%= form_for users_path, data: { turbo_frame: :results }, method: :get do %>
    <%= fields_for 'search' do |search_form| %>
      <div><%= search_form.search_field :email,  placeholder: t('search_form.search_by_email'),
                            oninput: 'this.form.requestSubmit()', autofocus: true, autocomplete: 'off' %></div>
      <div>
        <%= search_form.label :role, t('search_form.search_by_role') %>
        <%= search_form.select(:role, Role.all.collect { |role| role.name}, { include_blank: t('search_form.select_role') }) %>
      </div>
      <div><%= t('search_form.user_date_range') %></div>
      <div>
        <%= search_form.label :created_at_to, t('search_form.to') %>
        <%= search_form.date_select :created_at_to, include_blank: true %>
      </div>
      <div>
        <%= search_form.label :created_at_from, t('search_form.from') %>
        <%= search_form.date_select :created_at_from, include_blank: true %>
      </div>
      <div><%= t('search_form.order_date_range') %></div>
      <div>
        <%= search_form.label :order_created_at_to, t('search_form.to') %>
        <%= search_form.date_select :order_created_at_to, include_blank: true %>
      </div>
      <div>
        <%= search_form.label :order_created_at_from, t('search_form.from') %>
        <%= search_form.date_select :order_created_at_from, include_blank: true %>
      </div>
      <div>
        <%= search_form.label :sort, t('search_form.sort') %>
        <div class='switch-container'>
          <%= search_form.label :sort_email, t('search_form.sort_email'), class: 'lable-name' %>
          <label class='arrow'>
            <%= search_form.radio_button :sort, 'email asc', checked: 'checked' %>
            <%= image_tag('arrow_up.svg', alt: t('buttons.arrow_up')) %>
          </label>
          <label class='arrow'>
            <%= search_form.radio_button :sort, 'email desc' %>
            <%= image_tag('arrow_down.svg', alt: t('buttons.arrow_down')) %>
          </label>
          <%= search_form.label :sort_reg, t('search_form.sort_registration'), class: 'lable-name' %>

          <label class='arrow'>
            <%= search_form.radio_button :sort, 'created_at asc' %>
            <%= image_tag('arrow_up.svg', alt: t('buttons.arrow_up')) %>
          </label>
          <label class='arrow'>
            <%= search_form.radio_button :sort, 'created_at desc' %>
            <%= image_tag('arrow_down.svg', alt: t('buttons.arrow_down')) %>
          </label>
        </div>
      </div>
    <% end %>
    <div class="btn-container">
      <%= button_tag t('buttons.search'), class: 'submit-btn' %>
    </div>
  <% end %>
<hr>
</div>
<%= turbo_frame_tag :results, data: { turbo_action: 'advsnce' } do %>
  <div id="users"></div>
  <%= turbo_frame_tag :pagination, loading: :lazy, src: users_path(format: :turbo_stream, search: params[:search]&.to_unsafe_h) %>
<% end %>



