<h1>User#index</h1>
<table>
  <tr>
    <th>Id</th>
    <th>email</th>
    <th>roles</th>
    <th>show</th>
    <th>edit roles</th>
    <th>destroy</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <th><%= user.id %></th>
      <th><%= user.email %></th>
      <th><%= user.roles.pluck(:name) %></th>
      <th><%= link_to 'Show',  user_path(user) %></th>
      <th><%= link_to 'Edit roles',  user_edit_path(user) %></th>
      <th><%= button_to "Block account", user_update_path(user), params: {set_user_role: :blocked}, form: { data: { confirm: "Are you sure?" } }, method: :put %></th>
    </tr>
  <% end %>
</table>
