<h1> <%= t('.users') %> </h1>



<%= form_for users_path, method: :get do %>
  <%= fields_for 'search' do |search_form| %>
    <div><%= search_form.search_field :email,  placeholder: t('.search_by_email') %></div>
    <div>
      <%= search_form.label :role, t('.search_by_role') %>
      <%= search_form.select(:role, Role.all.collect { |role| role.name}, { include_blank: t('.select_role') }) %>
    </div>
    <div><%= t('.user_date_range') %></div>
    <div>
      <%= search_form.label :created_at_to, t('.to') %>
      <%= search_form.date_select :created_at_to, selected: Date.today %>
    </div>
    <div>
      <%= search_form.label :created_at_from, t('.from') %>
      <%= search_form.date_select :created_at_from, include_blank: true %>
    </div>
    <div><%= t('.order_date_range') %></div>
    <div>
      <%= search_form.label :order_created_at_to, t('.to') %>
      <%= search_form.date_select :order_created_at_to, include_blank: true %>
    </div>
    <div>
      <%= search_form.label :order_created_at_from, t('.from') %>
      <%= search_form.date_select :order_created_at_from, include_blank: true %>
    </div>
    <div>
      <%= search_form.label :sort, t('.sort') %>
      <div>
        <%= search_form.label :sort_email, t('.sort_email') %>
        <%= search_form.radio_button :sort, 'email asc', checked: 'checked' %>
        <%= search_form.radio_button :sort, 'email desc' %>
        <%= search_form.label :sort_reg, t('.sort_registration') %>
        <%= search_form.radio_button :sort, 'created_at asc' %>
        <%= search_form.radio_button :sort, 'created_at desc' %>
        
      </div>
    </div>
  <% end %>
  <%= button_tag t('buttons.search') %>
<% end %>

<hr>
<div class="users">
  <% @users.each do |user| %>
    <ul class="user_info">
      <li><%= "Id/email: #{user.id}/#{user.email}" %></li>
      <li><%= "#{t('.created_at')}: #{user.created_at}" %></li>
      <li><%= "#{t('.roles')}: #{user.roles.pluck(:name).sort}" %></li>
      <li><%= link_to t('buttons.edit'), user_edit_path(user) %></li>
    </ul>
    <div class="user_orders">
      <% if user.orders.any? %>
        <%= link_to "#{t('.quantity_of_orders')} (#{user.orders.size})", orders_path(user_id: user.id) %>
        <% user.orders.reverse.first(5).each do |order|  %>
          <div><%= link_to "#{t('.date')}: #{order.created_at.strftime("%d/%m/%Y %k:%M")} # #{t('.cost')}: #{order.cost}", order_path(order) %></div>
        <% end %>
      <% else %>
        <%= t('.no_order') %>
      <% end %>
    </div>
    <div class="user_block">
      <%= button_to t('.block_account'), user_update_path(user), params: {set_user_role: :blocked}, form: { data: { confirm: t('.confirmation') } }, method: :put %>
    </div>
    <hr>
  <% end %>
</div>


