<footer>
  <div class="footer-container">
    <div class="gap-footer"></div>
    <div class="footer-container">
      <div class="contacts">
        <h3>Author</h3>
        <ul>
          <li><%= link_to 'Phone 1: +38(050)-8026-450', about_project_path %></li>
          <li><%= link_to 'Viber, Telegram, WhatsApp', about_project_path %></li>
          <li><%= link_to "email: s19f84@gmail.com", about_project_path %></li>
        </ul>
      </div>
      <div class="info">
        <h3>Information</h3>
        <ul>
          <li><%= link_to 'Info I', about_project_path %></li>
          <li><%= link_to 'Info II', about_project_path %></li>
          <li><%= link_to 'Info III', about_project_path %></li>
        </ul>
      </div>
      <div class="service">
        <h3>Service</h3>
        <ul>
          <li><%= link_to 'Service A', about_project_path %></li>
          <li><%= link_to 'Service B', about_project_path %></li>
          <li><%= link_to 'Service C', about_project_path %></li>
        </ul>
      </div>
      <div class="account">
        <% if current_user.nil? %>
          <h3><%= link_to 'My account', new_user_session_path, method: :post %></h3>
        <% else %>
          <h3>My account</h3>
          <ul>
            <li><%= link_to 'My account', user_path(current_user.id) %></li>
            <li><%= link_to 'Order history', orders_path %></li>
            <li><%= link_to 'Cart', cart_path(current_user.cart.id) %></li>
          </ul>
        <% end %>
      </div>
      <div class="social">
        <h3>Social networks</h3>
        <ul>
          <li><%= link_to 'Facebook', about_project_path %></li>
          <li><%= link_to 'Telegram', about_project_path %></li>
          <li><%= link_to 'Instagram', about_project_path %></li>
        </ul>
      </div>
    </div>
    <div class="gap-footer"></div>
  </div>
    <div class="footer-basement">
    </div>
</footer>
