<footer>
  <div class="footer-container">
    <div class="gap-footer"></div>
    <div class="footer-container">
      <div class="contacts">
        <h3>Contacts</h3>
        <ul>
          <li><%= link_to 'Phone 1: 050-XX-XX-XXX', '#' %></li>
          <li><%= link_to 'Phone 2:', '#' %></li>
          <li><%= link_to 'Phone 3:', '#' %></li>
          <li><%= link_to "email: #{current_user.email if !current_user.nil?}", '#' %></li>
        </ul>
      </div>
      <div class="info">
        <h3>Information</h3>
        <ul>
          <li><%= link_to 'Our schedule: Mn-Fr 9:00-18:00', '#' %></li>
          <li><%= link_to 'How to charge', '#' %></li>
          <li><%= link_to 'Payment & delivery', '#' %></li>
          <li><%= link_to 'Warranty', '#' %></li>
        </ul>
      </div>
      <div class="service">
        <h3>Service</h3>
        <ul>
          <li><%= link_to 'Cutting', '#' %></li>
          <li><%= link_to 'Edge coating', '#' %></li>
          <li><%= link_to 'Packing', '#' %></li>
          <li><%= link_to 'Ingeneering', '#' %></li>
        </ul>
      </div>
      <div class="account">
        <% if current_user.nil? %>
          <h3><%= link_to 'My account', new_user_session_path, method: :post %></h3>
        <% else %>
          <h3>My account</h3>
          <ul>
            <li><%= link_to 'My account', user_path(current_user.id) %></li>
            <li><%= link_to 'Order history', orders_path %></li>
            <li><%= link_to 'Cart', cart_path(current_user.cart.id) %></li>
            <li><%= link_to 'Advertise emainling', '#' %></li>
          </ul>
        <% end %>
      </div>
      <div class="social">
        <h3>Social networks</h3>
        <ul>
          <li><%= link_to 'Facebook', '#' %></li>
          <li><%= link_to 'Telegram', '#' %></li>
          <li><%= link_to 'Instagram', '#' %></li>
        </ul>
      </div>
    </div>
    <div class="gap-footer"></div>
  </div>
    <div class="footer-basement">
    </div>
</footer>
