<div class="mobile-menu">
</div>

<div class="header">
  <div class="header-container">
    <div class="logo">
      <%= link_to root_path do %>
        <%= image_tag('veselka_logo.jpg', class: 'logo-main') %>
      <% end %>
    </div>
    <div class="header-menu">
      <div class="link-block">
        <div><%= link_to 'link1', '#' %></div>  
        <div><%= link_to 'link2', '#' %></div>  
        <div><%= link_to 'link3', '#' %></div>  
      </div>
        <div class="menu-item"><%= link_to 'menu', '#' %></div>
    </div>
  </div>
</div>
