<div class="mobile-menu">
</div>

<div class="header">
  <div class="header-container">
    <%= link_to root_path do %>
      <%= image_tag('veselka_logo.jpg', class: 'logo-main') %>
    <% end %>
    <ul>
      <li><%= link_to 'link1', '#' %></li>  
      <li><%= link_to 'link2', '#' %></li>  
      <li><%= link_to 'link3', '#' %></li>  
      <li><%= link_to 'link4', '#' %></li>
    </ul>  
  </div>
</div>
