<div class="header">
  <div class="header-container">
      <%= image_tag('burger_menu.svg', alt: t('.burger_menu'), class: 'mobile-menu', id: 'mobile-cta' ) %>
      <%= image_tag('filter.svg', alt: t('.filter'), class: 'mobile-filter', id: 'mobile-filter-cta' ) %>
      <%= image_tag('search.svg', alt: t('.search'), class: 'mobile-search', id: 'mobile-search-cta' ) %>
      <%= link_to_unless_current(image_tag('uk.png', alt: t('.uk_flag'), class: 'mobile-uk'), url_for(locale: :uk)) %>
      <%= link_to_unless_current(image_tag('en.png', alt: t('.en_flag'), class: 'mobile-en'), url_for(locale: :en)) %>
    
    <nav>
      <%= image_tag('exit.svg', alt: t('.exit_menu'), class: 'mobile-menu-exit', id: 'mobile-exit' ) %>
      <div>
        <div class="category"><%= link_to t('.about_project'), about_project_path, class: 'header-link' %></div>  
        <div class="category"><%= link_to t('.home'), home_path, class: 'header-link' %></div>  
        <% if user_signed_in? %>
          <div class="category"><%= link_to t('.my_account'), user_path(current_user.id), class: 'header-link' %></div>  
          <div class="category"><%= link_to t('.order_history'), orders_path, class: 'header-link' %></div>  
          <div class="category"></div>
          <div class="category"><%= link_to t('buttons.sign_out'), destroy_user_session_path, data: {turbo_method: :delete}, class: 'header-link' %></div>
          <% if current_user.has_role? :admin  %>
            <div class="category"></div>
            <div class="category"><%= link_to(t('buttons.users'), users_path, class: 'header-link') %></div>
          <% end %>
        <% else %>
          <div class="category"></div>
          <div class="category"><%= link_to t('buttons.sign_in'), new_user_session_path, method: :post, class: 'header-link' %></div>
          <div class="category"><%= link_to t('buttons.sign_up'), new_user_registration_path, method: :post, class: 'header-link' %></div>
        <% end %>
      </div>
    </nav>
    
    <div class="gap-1"></div>
    <div class="link-block">
      <div><%= link_to t('.about_project'), about_project_path, class: 'header-link' %></div>  
      <div><%= link_to t('.home'), home_path, class: 'header-link' %></div>  
      <% if user_signed_in? %>
        <div><%= link_to t('.my_account'), user_path(current_user.id), class: 'header-link' %></div>  
        <div><%= link_to t('.order_history'), orders_path, class: 'header-link' %></div>
        <% if current_user.has_role? :admin  %>
          <div><%= link_to(t('buttons.users'), users_path, class: 'header-link') %></div>
        <% end %> 
      <% end %>
    </div>
    <div class="gap-1"></div>
    <%# <div class="menu-item"> %>
      <% link_to t('.menu', default: 'no translate'), '#', class: 'header-link' %>
    <%# </div> %>
    <div class="devise-menu">
      <% if user_signed_in? %>
        <div><%= link_to t('buttons.sign_out'), destroy_user_session_path, data: {turbo_method: :delete}, class: 'header-link' %></div>
      <% else %>
        <div><%= link_to t('buttons.sign_in'), new_user_session_path, method: :post, class: 'header-link' %></div>
        <div class="vertical-rod"><span><%= ' | ' %></span></div>
        <div><%= link_to t('buttons.sign_up'), new_user_registration_path, method: :post, class: 'header-link' %></div>
      <% end %>
    </div>
    <div class="block-cart">
      <% if user_signed_in? %>
        <div id="cart">
          <span id="cart-total">
            <%= link_to (image_tag('icon_basket.png', alt: t('.cart'), class: 'header-link' )), cart_path(current_user.cart.id)%>
            <% unless current_user.nil? %>
              <% counter = current_user.cart.cart_items.count %>
              <% if counter > 0 %> 
                <span class="cart-quantity" id="cart_quantity"><%= counter %></span>
              <% end %>
            <% end %>
          </span>
        </div>
      <% end %>
      
    </div>
    <div class="languages">
      <div><%= link_to_unless_current 'UK', url_for(locale: :uk), class: 'header-link' %></div>
      <div class="vertical-rod"><span> | </span></div>
      <div><%= link_to_unless_current 'EN', url_for(locale: :en), class: 'header-link' %></div>
    </div>
  </div>
  
</div>
