<h2><%= t('.details') %></h2>
<table>
  <thead>
    <tr>
      <th><%= t('.order_item_name') %></th>
      <th><%= t('.order_item_quantity') %></th>
      <th><%= t('.order_item_price') %></th>
      <th><%= t('.order_item_cost') %></th>
    </tr>
  </thead>
  <% @order.order_items.map do |order_item| %>
    <tbody>
      <td><%= link_to @product_details[order_item.product_id][:name], product_path(order_item.product_id) %></td>
      <td><%= order_item.quantity %></td>
      <td><%= @product_details[order_item.product_id][:price] %></td>
      <td><%= order_item.quantity * @product_details[order_item.product_id][:price] %></td>
    </tbody>
  <% end %>
</table>
<br>
<%= "#{t('.order_cost')} #{@order.cost}" %>

<p><%= link_to t('buttons.back'), :back %></p>
