<div id="cart_items">
  <% i = 0 %>
  <% @sum = 0 %>
  <% @cart.cart_items.map do |cart_item| %>
    <tbody id=<%= "cart_item_#{cart_item.id}" %>>
      <% i += 1 %>
      <td><%= i %></td>
      <td><%= cart_item.product.name %></td>
      <td><%= cart_item.product.sku %></td>
      <td><%= qt = cart_item.quantity %></td>
      <td><%= pr = cart_item.product.price %></td>
      <td><%= qt * pr %></td>
      <td><%= link_to(t('buttons.remove_it'), cart_item_path(cart_item), data: {turbo_method: :delete})  %></td>
    </tbody>
  <% end %>
  <% @cart.cart_items.map do |cart_item| %>
    <% qt = cart_item.quantity %>
    <% pr = cart_item.product.price %>
    <% @sum += qt * pr %>
  <% end %>
</div>
 