<h1><%= t('layouts.application.categories') %></h1>

<div class="btn-container">
  <% if current_user_admin? %>
    <div><%= link_to "#{t('.add_new_category')}", new_product_category_path %></div>
    <%= render 'csv_import' %>
  <% end %>
</div>  
<div class="product-index">
  <% @product_categories.each do |product_category| %>
    <div class="product-item">
      <div class="item-img">
        <% if product_category.products.first%>
          <% if product_category.products.first.images.attached? %>
            <%= link_to (image_tag (product_category.products.first.images.first.variant(resize_to_limit: [300, 300]))),
                                    product_category_path(product_category, product_category_id: product_category.id, source: 'index')%>
          <% end %>
        <% end %>
      </div>
      <div class="item-description">
        <div class="item-name"><%= link_to(product_category.name, product_category_path(product_category, { product_category_id: product_category.id, source: 'index' } )) %></div>
        <% if current_user_admin? %>
          <div class="item-name"><%= link_to(t('buttons.edit'), edit_product_category_path(product_category)) %></div>
          <div class="item-code">
            <%= link_to(t('buttons.delete'), product_category_path(product_category), data: {turbo_method: :delete, turbo_confirm: 'Sure?'}) %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
