<h1> <%= t('.title') %> </h1>
<div>
  <%= simple_form_for @product_category, data: { turbo: false } do |form| %>
    <%= form.input :name, required: true %>
    <%= form.input :description %>
    <div class="btn-container">
      <%= form.button :submit, class: 'submit-btn' %>
    </div>
  <% end %>
</div>
<div class="show-control">
  <span><%= link_to t('buttons.back'), :back %>  |  <%= link_to t('buttons.link_to_index'), product_categories_path %></span>
</div>
