<h3><%= t('.greeting') %></h3>
<h2><%= t('.id') %></h2><%= @order.id %>
<h3><%= t('.details') %></h3>
<table>
  <thead>
    <tr>
      <th>№:</th>
      <th><%= t('.item_name') %></th>
      <th><%= t('.sku') %></th>
      <th><%= t('.price') %></th>
      <th><%= t('.quantity') %></th>
      <th><%= t('.cost') %></th>
    </tr>
  </thead>
  <tbody>
    <% i = 1 %>
    <% @order.order_item_ids.map do |order_item_id| %>
      <% order_item =  OrderItem.find(order_item_id) %>
      <% product =  Product.find(order_item.product_id) %>
      <td><%= i %></td>
      <td><%= product.name %></td>
      <td><%= product.sku %></td>
      <td><%= product.price %></td>
      <td><%= order_item.quantity %></td>
      <td><%= order_item.item_cost %></td>
      <% i += 1 %>
    <% end %>
  </tbody>
</table>
<div><%= link_to(t('buttons.back_to_site'), root_url) %></div>
