<div>
  <%= form_with model: @product, local: true do |form| %>
    <div>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :product_type %>
      <%= form.text_field :product_type %>
    </div>
    <div>
      <%= form.label :product_code %>
      <%= form.text_field :product_code %>
    </div>
    <div>
      <%= form.label :description %>
      <%= form.text_area :description, size: '50*30' %>
    </div>
    <div>
      <%= form.submit %>
    </div>
    <div>
  <%  end %>
</div>
