<turbo-frame id="default">
<%= turbo_stream.append :products do %>
  <% (!current_user.nil? && (current_user.has_role? :admin)) ? current_admin = true : current_admin = false %>
  <div class="product-index">
    <% if @products%>
      <% @products.each do |product| %>
        <div id="product_<%= product.id %>">
          <div class="product-item">
            <div class="item-img">
              <% if product.images.attached? %>
                <%= link_to (image_tag (product.images.first.variant(resize_to_limit: [300, 300]))), product_path(product)%>
              <% end %>
            </div>
            <div class="item-description">
              <div class="name-sku">
                <h3><%== link_to highlight(product.name, params.dig(:search, :name)), product_path(product) %></h3>
                <div><%= link_to "#{t(".product_sku")}: #{product.sku}", product_path(product) %></div>
              </div>
              <div class="price-cart">
                <div class="price"><%= link_to "#{t(".product_price")}: #{product.price}", product_path(product)%></div>
                <div class="cart-block">
                  <% @products_in_cart.include?(product.id) ? products_in_cart = true : products_in_cart = false %>
                  <%= render 'cart_item_form', products_in_cart: products_in_cart, product: product %>
                </div>
              </div>
            </div>
            <div class="name-sku">
              <% if current_admin %>
                <div><%= link_to(t('buttons.edit'), edit_product_path(product)) %></div>
                <div><%= link_to(t('buttons.delete'), product_path(product), data: {turbo_method: :delete, turbo_confirm: 'Sure?'}) %></div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <h3><%= 'This folder now is empty' %></h3>
    <%end%>
  </div>
<% end %>

<% search_params = params[:search]&.to_unsafe_h || {} %>
<% search_params[:product_category_id] = params[:product_category_id] if params[:product_category_id] %>
<% if @pagy && @pagy.next.present?%>
  <%= turbo_stream.replace :pagination do %>
    
    <%= turbo_frame_tag :pagination, loading: :lazy, src: products_path(format: :turbo_stream, page: @pagy.next, search: search_params) %>
  <% end %>
<% end %>
</turbo-frame>
