<h1>Products#index</h1>
<div class="product-index">
  <% @products.each do |product| %>
    <div class="product-item">
      <div class="item-img">
        <% if product.images.attached? %>
          <%= link_to (image_tag (product.images.first.variant(resize_to_limit: [300, 300]))), product_path(product)%>
        <% end %>
      </div>
      <div class="item-description">
        <div class="item-name"><%= link_to(product.name, product_path(product)) %></div>
        <div class="item-code"><%= link_to "Code: #{product.sku}", product_path(product)%></div>
        <div class="item-code"><%= link_to "Price: #{product.price}", product_path(product)%></div>
        <div class="item-code"><%= link_to "Cat: #{product.product_category_id}", product_path(product)%></div>
        
        <%= render partial: 'cart_item_form', locals: {product: product} %>
        
      </div>
    </div>
  <% end %>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Prod.Code</th>
        <th>Prod.Cat</th>
        <th>Descr.</th>
        <th>Show</th>
        <th></th>
      </tr>
    </thead>
    <% @products.each do |product| %>
      <tbody>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.sku %></td>
        <td><%= product.product_category.name %></td>
        <td><%= product.description %></td>
        <td><%= link_to('show', product_path(product)) %></td>
        <td><%= link_to('edit', edit_product_path(product)) if policy(Product).index?  %></td>
        <td><%= link_to('delete', product_path(product),
                        data: {turbo_method: :delete, turbo_confirm: 'Sure?'}) if policy(Product).index?  %></td>
      </tbody>
    <% end %>
  </table>
  <div><%= link_to('create item', new_product_path) if policy(Product).index?  %></div>
</div>
