<div>
  <h1><%= @product_category.name %></h1>
  <% if current_user_admin? %>
    <h3 class="add-new-item"><%= link_to(t('.add_new_product'), new_product_path) %></h3>
  <% end %>
</div>
<% instance_variable_names.inspect %>
<div class="search-container", id="search-block">
  <%= form_for products_path, data: { turbo_frame: :results }, method: :get do %>
    <%= fields_for 'search' do |search_form| %>
      <div><%= search_form.search_field :name,  placeholder: t('search_form.search_by_name'),
                            oninput: 'this.form.requestSubmit()', autofocus: true, autocomplete: 'off' %>
      </div>
      <div>
        <%= search_form.search_field :cost_from,   placeholder: t('search_form.search_by_order_cost_from'),
                            oninput: 'this.form.requestSubmit()', autofocus: false, autocomplete: 'off' %>
        <span> - </span>
        <%= search_form.search_field :cost_to,     placeholder: t('search_form.search_by_order_cost_to'),
                            oninput: 'this.form.requestSubmit()', autofocus: false, autocomplete: 'off' %>
      </div>
      <div>
        <%= search_form.label :sort, t('search_form.sort') %>
        <div>
          <%= search_form.label :sort_name, t('search_form.sort_name'), oninput: 'this.form.requestSubmit()' %>
          <%= search_form.radio_button :sort, 'name asc', checked: 'checked', oninput: 'this.form.requestSubmit()' %>
          <%= search_form.radio_button :sort, 'name desc', oninput: 'this.form.requestSubmit()' %>
          <%= search_form.label :sort_reg, t('search_form.sort_registration') %>
          <%= search_form.radio_button :sort, 'created_at asc', oninput: 'this.form.requestSubmit()' %>
          <%= search_form.radio_button :sort, 'created_at desc', oninput: 'this.form.requestSubmit()' %>
          <%= search_form.label :sort_cost, t('search_form.sort_price') %>
          <%= search_form.radio_button :sort, 'price asc', oninput: 'this.form.requestSubmit()' %>
          <%= search_form.radio_button :sort, 'price desc', oninput: 'this.form.requestSubmit()' %>
        </div>
      </div>
      <%= search_form.hidden_field :product_category_id, value: @product_category.id %>
    <% end %>
    <%= button_tag t('buttons.search') %>
  <% end %>
</div>

<% search_params = params[:search]&.to_unsafe_h || {} %>
<% search_params[:product_category_id] = params[:product_category_id] if params[:product_category_id] %>
<hr>
<%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
  <div id="products"></div>
  
  <%= turbo_frame_tag :pagination, loading: :lazy, src: products_path(format: :turbo_stream, search: search_params) %>
<% end %>

