<h1>New item form</h1>
<div>
  <%= simple_form_for @product, data: { turbo: false } do |form| %>
    <%= form.input :name %>
    <%= form.input :product_category_id, collection: @product_categories %>
    <%= form.input :sku %>
    <%= form.input :description %>
    <%= form.input :price, as: :float %>
    <%= simple_fields_for :inventory_quantity do |q| %>
      <%= q.input :quantity, as: :integer %>
    <% end %>
    <div class="form-separator"></div>
    <%= form.file_field :images, multiple: true%>
    <div class="btn-container">
      <%= form.button :submit, class: 'submit-btn' %>
    </div>
  <%  end %>
</div>
