<div class="show-container">
  <div class="product-gallery">
    <div class="full-size-image">
      <%= image_tag(@product.images.first.variant(resize_to_limit: [800, 600])) %>
    </div>
    <div class="thumbnail-container">
      <% @product.images.each do |image| %>
        <div class="thumbnail">
          <%= image_tag(image.variant(resize_to_limit: [800, 600])) %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="show-row">
    <div class="property-block col-5">
      <div><h4><%= t('.product_name') %> <%= @product.name %></h4></div>
      <div><h4><%= t('.product_sku') %> <%= @product.sku %></h4></div>
      <div><h4><%= t('.product_price') %> <%= @product.price %></h4></div>
      
      <%= render 'cart_item_form', products_in_cart: @product_in_cart, product: @product %>
      
    </div>
  </div>
  <div class="show-row">
    <div><h4> <%= t('.description') %> </h4><%= @product.description %></div>
  </div>
</div>
<div class="show-control">
  <span><%= link_to t('buttons.back'), :back %>  |  <%= link_to t('buttons.link_to_index'), product_categories_path %></span>
</div>
