<div class="show-container">
  <div class="show-row">
    <div class="show-img col-7">
      <% if @product.images.attached? %>
        <% @product.images.each do |img| %>
          <div><%= image_tag(img.variant(resize_to_limit: [200, 200])) %></div>
        <% end %> 
      <% end %>
    </div>
    <div class="property-block col-5">
      <div><h4>Product name: <%= @product.name %></h4></div>
      <div><h4>Product sku: <%= @product.sku %></h4></div>
      <div><h4>Price: <%= @product.price %></h4></div>
      <%= simple_form_for @cart_item, url: cart_items_path do |f| %>
        <%= f.input :quantity, collection: 0..ProductInventory.find_by(product_id: @product.id).quantity %>
        <%= f.hidden_field :cart_id, value: current_user.cart.id %>
        <%= f.hidden_field :product_id, value: @product.id %>
        <%= f.button :submit, value: 'Put to cart' %>
      <% end %>
    </div>
  </div>
  <div class="show-row">
    <div><h4>Description</h4><%= @product.description %></div>
  </div>
</div>
<div class="show-control">
  <span><%= link_to 'back', :back %>  |  <%= link_to 'index', products_path %></span>
</div>
