<div class="show-container">
  <div class="show-row">
    <div class="show-img col-7">
      <% if @product.images.attached? %>
        <% @product.images.each do |img| %>
          <div><%= image_tag(img.variant(resize_to_limit: [200, 200])) %></div>
        <% end %> 
      <% end %>
    </div>
    <div class="property-block col-5">
      <div><h4><%= t('.product_name') %> <%= @product.name %></h4></div>
      <div><h4><%= t('.product_scu') %> <%= @product.sku %></h4></div>
      <div><h4><%= t('.product_price') %> <%= @product.price %></h4></div>
      
      <%= render 'cart_item_form', products_in_cart: @product_in_cart, product: @product %>
      
    </div>
  </div>
  <div class="show-row">
    <div><h4> <%= t('.description') %> </h4><%= @product.description %></div>
  </div>
</div>
<div class="show-control">
  <span><%= link_to t('buttons.back'), :back %>  |  <%= link_to t('buttons.link_to_index'), product_categories_path %></span>
</div>
