<!DOCTYPE html>
<html>
  <head>
    <title>Veselka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="start-block container">
      <div class="header-msg-container">Important information!</div>
      <%= render 'shared/messages' %>
      <div class="content-container">
        <div class="gap-3"></div>
        <div class="sidebar-container">
          <div id="categories">Categories</div>
          <div class="category"><%= link_to 'Category 1', '#' %></div>
          <div class="category"><%= link_to 'Category 2', '#' %></div>
          <div class="category"><%= link_to 'Category extra', '#' %></div>
          <div class="category"><%= link_to 'Category 4', '#' %></div>
          <div class="category"><%= link_to 'Category 5', '#' %></div>
        </div>
        <div class="yield-container">
          <%= yield %>
        </div>
        <div class="filter-container"></div>
        <div class="gap-3"></div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
