<!DOCTYPE html>
<html>
  <head>
    <title>Veselka</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="start-block container">
      <div class="header-msg-container">
        <% if flash.any? %>
          <%= render 'shared/messages' %>
        <% else %>
         <%= 'Important information!' %>
        <% end %>
        <% render 'shared/messages' %>
      </div>
      <div class="content-container">
        <div class="gap-3"></div>
        <div class="sidebar-container">
          <div id="categories"><%= link_to 'All items', products_path %></div>
          <% ProductCategory.all.map do |product_category| %>
            <div class="category"><%= link_to "#{product_category.name}", products_path(query: {product_category_id: product_category.id }) %></div>
          <% end %>
          <% if current_user != nil %>
            <div><%= link_to 'Cart', cart_path(current_user.cart.id) %></div>
          <% end %>
          <% #binding.pry %>
        </div>
        <div class="yield-container">
          <%= yield %>
        </div>
        <div class="filter-container"></div>
        <div class="gap-3"></div>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
